* {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  flex-direction: column;
}

input[type="radio"] {
  position: relative;
  width: 120px;
  height: 40px;
  margin: 10px;
  outline: none;
  background: #111;
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.1),
    5px 5px 10px rgba(0, 0, 0, 1), inset -2px -2px 5px rgba(255, 255, 255, 0.1),
    inset 2px 2px 5px rgba(0, 0, 0, 1), 0 0 0 2px #1f1f1f;
}
input[type="radio"]:checked {
  background: #20b7ff;
}
