* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* reset */

header {
  background: pink;
  justify-content: center;
  align-items: center;
}

.header_logo {
  background: blue;
  width: 1200px;
  height: 80px;
}

.header_logo h1 {
  font-size: 35px;
  text-align: center;
}

nav {
  background: violet;
}

.inner {
  background: khaki;
}
