<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header Test</title>
  <link rel="stylesheet" href="Header.css">
</head>
<body>
  <header>
    <div class="header_logo">
      <h1>LOGO</h1>
    </div>
    <div class="login">
      <div>로그인</div>
      <div>쇼핑백</div>
    </div>
    <nav>
        <ul>
          <li>
            <a href="#">선물 제안</a>
            <ul class="inner">
              <li>
                <a href="#">선물 가이드</a>
              </li>
              <li>
                <a href="#">선물 가이드</a>
              </li>
              <li>
                <a href="#">선물 가이드</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">WHAT'S NEW</a>
            <ul class="inner">
              <li>
                <a href="#">런웨이</a>
              </li>
              <li>
                <a href="#">런웨이</a>
              </li>
              <li>
                <a href="#">런웨이</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">여성</a>
            <ul class="inner">
              <li>
                <a href="#">핸드백</a>
              </li>
              <li>
                <a href="#">핸드백</a>
              </li>
              <li>
                <a href="#">핸드백</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">남성</a>
            <ul class="inner">
              <li>
                <a href="#">남성 가방</a>
              </li>
              <li>
                <a href="#">남성 가방</a>
              </li>
              <li>
                <a href="#">남성 가방</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">주얼리&시계</a>
            <ul class="inner">
              <li>
                <a href="#">골드 주얼리</a>
              </li>
              <li>
                <a href="#">골드 주얼리</a>
              </li>
              <li>
                <a href="#">골드 주얼리</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">뷰티</a>
            <ul class="inner">
              <li>
                <a href="#">메이크업</a>
              </li>
              <li>
                <a href="#">메이크업</a>
              </li>
              <li>
                <a href="#">메이크업</a>
              </li>
            </ul>
          </li>
        </ul>
    </nav>
  </header>
  <!-- 헤더 -->

  <section class="benner"></section>
  <!-- 베너 -->

</body>
</html>