.about-container {
  height: 27vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0 10%;
}

.about-info {
  display: flex;
  /* margin-left: 50px; */
}

.about-info > img {
  border-radius: 50%;
}

.user-info {
  margin-left: 50px;
}
