.footer-container {
  background-color: #696969;
  /* font-size: 50px; */
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.footer-container > div {
  height: 25vh;
  display: flex;
  align-items: center;
  border: 1px solid black;
}

@media screen and (max-width: 960px) {
  .footer-container > div {
    font-size: 20px;
  }
}
