.navbar-container {
  position: fixed;
  transition: 0.7s;
  left: 0%;
  right: 0%;
  /* padding: 0 15%; */
}

.nav-top-logo {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin: 10px 0px;
  font-family: "Rubik Mono One", sans-serif;
  color: #0079bd;
  /* background-color: #bde7ff; */
  min-width: 580px;
}

.logo {
  font-family: "Rubik Mono One", sans-serif;
  color: #0079bd;
  font-size: 30px;
}

.navbar-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  transition: 0.5s;
}
