.navbar-container {
  border-bottom: 1px solid var(--color--gray);
  padding: 0 10%;
  height: 6vh;
}

.navbar-items {
  /* height: 7vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li > span {
  font-size: 30px;
  font-family: "Rubik Mono One", sans-serif;
}

li:nth-child(2) {
  color: #898989;
  font-weight: bold;
}
